{% extends 'base.html' %}

<h1>{% block title %}About{% endblock %}</h1>

{% block header %}<h1>About Our Site</h1>{% endblock %}

{% block content %}
    
        <!--Main card-->
        <div class="card text-white bg-dark mb-3" style="width: 50%; margin:auto; margin-top: 8%; padding: 3% 2%; border-radius: 20% 5%;">
      
            <!--card-header-->
            <div class="card-header" style="font-weight: bolder; font-size: xx-large; text-align: center;">About Us</div>
            <!--End OF card-header-->
    
            <!--card-body-->
            <div class="card-body">
              <h5 class="card-title"><b></b></h5>
              <p><b>-</b> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio sint neque accusamus. Distinctio itaque a eos nam facilis laboriosam, tempora illum quibusdam laborum, error saepe eaque beatae non sunt amet!</p>   
              <p><b>-</b> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio sint neque accusamus. Distinctio itaque a eos nam facilis laboriosam, tempora illum quibusdam laborum, error saepe eaque beatae non sunt amet!</p>   
              <p><b>-</b> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio sint neque accusamus. Distinctio itaque a eos nam facilis laboriosam, tempora illum quibusdam laborum, error saepe eaque beatae non sunt amet!</p>   
              <p><b>-</b> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio sint neque accusamus. Distinctio itaque a eos nam facilis laboriosam, tempora illum quibusdam laborum, error saepe eaque beatae non sunt amet!</p>   
              <p><b>-</b> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio sint neque accusamus. Distinctio itaque a eos nam facilis laboriosam, tempora illum quibusdam laborum, error saepe eaque beatae non sunt amet!</p>   
              <p><b>-</b> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio sint neque accusamus. Distinctio itaque a eos nam facilis laboriosam, tempora illum quibusdam laborum, error saepe eaque beatae non sunt amet!</p>   
            </div>
            <!--End Of card-body-->
        
        </div>
        <!--End Of Main card-->
{% endblock %}