{% extends 'base.html' %}

<h1>{% block title %}Add Comment{% endblock %}</h1>

{% block header %}<h1>Pleaes Full All field </h1>{% endblock %}

{% block content %}
<!--Div-->
<div style="margin: auto; margin-top: 10%; width: 50%; padding: 5%; background-color: #212529; color: white; border-radius: 20% 3%;">
    <!--Form-->
    <form method="post" >
        <!--First Div-->
        <div class="mb-3">
          <h2><b>Movie Name</b></h2>
          <input name ="name" type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <!--End Of First Div-->
        
        <!--Second Div-->
        <div class="mb-3">
          <h2><b>Email</b></h2>
          <input name ="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <!--End Of Seconf Div-->
        
        <!--Third Div-->  
        <div class="mb-3">
          <h2><b>Comment</b></h2>
            <input name ="comment" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <!--End Of Third Div--> 
        
        <!--Submit Btn--> 
        <button type="submit" class="btn" style="font-weight: bolder; margin-top: 5%; background-color:white; font-size: x-large;">Submit</button>
        <!--End Of Submit Btn-->
      
      </form>
      <!--End Of Form-->
</div>
<!--End Of Div-->
{% endblock %}